body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #750000c7;
    margin: 0;
    padding: 20px;
}

h1 {
    color: rgb(10, 10, 2);
}


table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgb(243, 181, 123);
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    padding: 15px;
    text-align: center;
    border: 1px solid rgb(253, 212, 151);
}

th {
    background-color: rgb(187, 46, 10);
    color: #fff;
}

td {
    background-color: #f39557;
}

tr:nth-child(even) td {
    background-color: #f88855;
}


th, td:nth-child(1) {
    width: 20%;
}

.adat{
 color: rgba(155, 0, 0, 0.582);
}